#eventsHeader {
    height: 30vmax !important;
}

#eventsHeader>.events-heading {
    height: 100% !important;
}

#coreTeam {
    /* height: 400vmax; */
    width: 100%;
    /* border: 2px solid red; */
    background-color: #ffffff;
}

#leadTeam {
    height: 17%;
    width: 100%;
    /* border: 2px solid black; */
    background-color: #fbfffb;
}

#leadTeam .leadTeamBorder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid seagreen; */
}

#leadTeam .leadTeamBorder .heading {
    height: 15%;
    width: 100%;
    /* border: 2px solid black; */
}

#leadTeam .leadTeamBorder .content {
    height: 85%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2% 2%;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

#leadTeam .leadTeamBorder .content .contentElement {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 34vmax;
    width: 100%;
    margin-bottom: 5rem;
}

#leadTeam .leadTeamBorder .heading h1 {
    letter-spacing: 2px;
    padding: 2% 7%;
    font-weight: 300;
    font-size: 3.5rem;
    text-decoration: 1px underline;
}

#wholeTeam {
    height: 62%;
    width: 100%;
    /* border: 2px solid saddlebrown; */
}

#wholeTeam>h1 {
    letter-spacing: 2px;
    padding: 2% 7%;
    font-weight: 300;
    font-size: 3.5rem;
    height: 2%;
    width: 100%;
    text-decoration: 1px underline;
}

#wholeTeam #wholeTeamBorder {
    margin: auto;
    height: 98%;
    width: 90%;
    /* border: 2px solid rebeccapurple; */
}

#wholeTeam .team {
    height: 16.6%;
    width: 95%;
    /* border: 2px solid black; */
    margin: 2% auto;
    padding: 2% 4%;
}

#wholeTeam .team:nth-of-type(odd) {
    background-color: rgb(251, 251, 251);
}

#wholeTeam .team h1 {
    width: 100%;
    /* border: 2px solid red; */
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 3rem;
    padding: 2rem 0;
}

#wholeTeam .team .teamCardsHere {
    height: 90%;
    width: 95%;
    margin: auto;
    /* border: 2px solid firebrick; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2% 2%;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

#wholeTeam .team .teamCardsHere .teamCard {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 34vmax;
    width: 100%;
}

footer {
    width: 100%;
    height: 6vmax;
    background-color: black;
    padding: 5vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 2px;
}

footer p span {
    font-size: 1.8rem;
    font-weight: 450;
}

/* Scroll To Top */

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgb(0, 80, 0);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: rgb(1, 126, 1);
    /* Add a dark-grey background on hover */
}


@media (max-width: 780px) {
    #eventsHeader {
        height: 45vmax !important;
    }
    /* Cards */
    #coreTeam .cardArea .textHere p:nth-child(1){
        font-size: 1.4rem !important;
    }
    #coreTeam .cardArea .textHere p{
        font-size: 1rem !important;
        line-height: 1.4 !important;
    }
    #coreTeam .cardArea .textHere p:nth-last-child(1){
        font-size: 0.6rem !important;
    }
}

@media (max-width: 450px) {
    #eventsHeader > .events-heading > .event-heading-block > .event-heading-block-element-block > h1{
        font-size: 3.5rem !important;
    }

    #leadTeam .leadTeamBorder .heading h1 {
        padding: 11% 7%;
        font-size: 2.7rem;
    }

    #leadTeam {
        height: 30%;
    }

    #leadTeam .leadTeamBorder .content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #wholeTeam>h1 {
        padding: 11% 7%;
        font-size: 2.7rem;
    }

    #wholeTeam .team h1 {
        font-size: 2rem;
        padding-bottom: 3rem;
    }

    #wholeTeam .team .teamCardsHere {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    #wholeTeam .team .teamCardsHere .teamCard {
        height: 60vmax;
    }

    #wholeTeam .team:nth-child(2) {
        height: 65%;
    }

    #wholeTeam .team:nth-child(2) .teamCardsHere {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #wholeTeam .team {
        margin: 11% auto;
    }

    footer p {
        font-size: 0.8rem;
    }

    footer p span {
        font-size: 0.9rem;
    }

    #myBtn {
        bottom: 67px;
        right: 14px;
        padding: 10px;
        font-size: 12px;
    }

    #coreTeam .cardArea .textHere p:nth-child(1){
        font-size: 1rem !important;
    }
    #coreTeam .cardArea .textHere p{
        font-size: 0.8rem !important;
        line-height: 1 !important;
    }
    #coreTeam .cardArea .textHere p:nth-last-child(1){
        font-size: 0.55rem !important;
    }
}

/* Cards */

#coreTeam .cardArea{
    height: 100%;
    width: 100%;
}

#coreTeam .cardArea .ImgBox{
    height: 70%;
    width: 80%;
    margin: auto;
    position: relative;
    /* border: 2px solid red; */
}

#coreTeam .cardArea .ImgBox img{
    height: 100%;
    width: 100%;
    object-fit: block;
    /* transition: all 0.5s; */
}

/* #coreTeam .cardArea .imgHere img:hover{
    filter: grayscale(1);
} */

#coreTeam .cardArea .textHere{
    height: 30%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#coreTeam .cardArea .textHere p:nth-child(1){
    font-size: 1.8rem;
    font-weight: 800;
}

#coreTeam .cardArea .textHere p{
    letter-spacing: 2px;
    font-size: 1.4rem;
    margin: 0;
    font-weight: 600;
    line-height: 2;
}

#coreTeam .cardArea .textHere p:nth-last-child(1){
    padding: 0 10%;
    font-size: 1rem;
    font-weight: 300;
}

/* hover. */
.cont1{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    /* border: 2px #45e19f; */
}
.cont1:hover{
    opacity: 1;
}

.cont1 >*{
    transform: translateY(25px);
    transition: transform 0.6s;
}
.cont1:hover >*{
    transform: translateY(0px);
}
.social-media{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0,0,0,.1);
}

.social-media i{
    font-size: 3rem;
    transition: color .5s;
}

.fa-facebook-square{
    color: #3b5999;
}

.fa-twitter-square{
    color: #55acee;
}

.fa-instagram{
    color: #e6683c;
}

.fa-google-plus-square{
    color: #dd4b39;
}

.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-instagram:hover,
.fa-google-plus-square:hover{
    color: #45e19f;
}


/* Animations */

.hidden001{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
    transform: translateX(-100%);
}

.cardArea:nth-child(2){
    transition-delay: 200ms;
}
.cardArea:nth-child(3){
    transition-delay: 400ms;
}
.cardArea:nth-child(4){
    transition-delay: 600ms;
}
.cardArea:nth-child(5){
    transition-delay: 800ms;
}
.cardArea:nth-child(6){
    transition-delay: 1000ms;
}

.show001{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}