*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f8f9fa;
}

#eventsHeader{
    /* border: 2px solid red; */
    height: 100vh;
    width: 100%;
}

#eventsHeader > .events-heading{
    height: 55%;
    width: 100%;
    background-color: rgb(5, 195, 5);
}

#eventsHeader > .events-heading > nav{
    height: 8%;
    background-color: rgb(2, 165, 2);
    width: 100%;
    position: fixed;
    z-index: 99;
}

#eventsHeader > .events-heading > nav a{
    padding-left: 7%;
    font-weight: 600;
    color: #f8f9fa;
}

#eventsHeader > .events-heading > .event-heading-block{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#eventsHeader > .events-heading > .event-heading-block > .event-heading-block-element-block{
    /* border: 2px solid red; */
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#eventsHeader > .events-heading > .event-heading-block > .event-heading-block-element-block > h1{
    font-size: 11rem;
    font-weight: 800;
    color: #f8f9fa;
}

#eventsHeader > .events-detail{
    height: 45%;
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 252, 246);
}

#eventsHeader > .events-detail > .events-detail-elements{
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

#eventsHeader > .events-detail > .events-detail-elements > .acheiventsBlockBorder{
    height: 90%;
    width: 40%;
    margin: 2rem;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#eventsHeader > .events-detail> .events-detail-elements > .acheiventsBlockBorder>.acheiventsBlocks {
    /* border: 2px solid red; */
    height: 85%;
    width: 100%;
}

#eventsHeader > .events-detail> .events-detail-elements > .acheiventsBlockBorder>.acheiventsBlocks>.acheivementsElements {
    display: flex;
    justify-content: center;
    align-items: center;
}

#eventsHeader > .events-detail> .events-detail-elements>.acheiventsBlockBorder>.acheiventsBlocks>.acheiventsCount {
    height: 30%;
    /* border: 2px solid green; */
    font-size: 3rem;
    font-weight: 600;
}

#eventsHeader > .events-detail> .events-detail-elements>.acheiventsBlockBorder>.acheiventsBlocks>.acheiventsText {
    height: 25%;
    /* border: 2px solid saddlebrown; */
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 3px;
}

/*** Events displaying area  */

#eventsDisplayArea{
    height: 210vmax;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#eventsDisplayArea > #events-display-area-container{
    height: 95%;
    width: 95%;
    /* border: 2px solid blue; */
    overflow: hidden;
}

#eventsDisplayArea > #events-display-area-container > .upper-display-area{
    /* border: 2px solid red; */
    height: 10%;
    width: 100%;
}

#eventsDisplayArea > #events-display-area-container > .upper-display-area > .typeOfEvents{
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#eventsDisplayArea > #events-display-area-container > .upper-display-area > .typeOfEvents > li{
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 3px;
    list-style-type: none;
    padding: 6px 23px;
    transition: all 0.3s;
}

#eventsDisplayArea > #events-display-area-container > .upper-display-area > .typeOfEvents > li:nth-child(1){
    background-color: #f3f9f3;
    border-bottom: 2px solid #dff3df;
}

#eventsDisplayArea > #events-display-area-container > .upper-display-area > .typeOfEvents > li:hover{
    cursor: pointer;
    transform: skew(8deg);
}

#eventsDisplayArea > #events-display-area-container > .lower-display-area{
    /* border: 2px solid red; */
    height: 90%;
    width: 300%;
    display: flex;
    flex-direction: row;
}

#eventsDisplayArea .eventElements{
    transition: all 0.5s;
    height: 100%;
    width: 100%;
    /* border: 2px solid black; */
    position: relative;
}

#eventsDisplayArea .eventElements:nth-child(1){
    background-color: #F0FFF0;
}

#eventsDisplayArea .eventElements:nth-child(2){
    background-color: #e0efe0;
}
#eventsDisplayArea .eventElements:nth-child(3){
    background-color: #e8f1e8;
}

#eventsDisplayArea .eventElements .eventsAreaBorder{
    height: 100%;
    width: 100%;
    /* border: 2px solid blue; */
}

#eventsDisplayArea .eventElements .eventsAreaBorder .eventChild{
    margin: 14% auto;
    padding: 1rem 1.2rem;
    width: 80%;
    height: 25rem;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}

#eventsDisplayArea .eventElements .eventsAreaBorder .eventChild:nth-of-type(odd){
    flex-direction: row;
}

#eventsDisplayArea .eventElements .eventsAreaBorder .eventChild:nth-of-type(even){
    flex-direction: row-reverse;
}

#eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventImage{
    height: 100%;
    width: 35%;
    /* border: 2px solid green; */
    margin-right: 3%;
}

#eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventImage img{
    height: 100%;
    width: 100%;
}

#eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText{
    height: 130%;
    width: 65%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText .eventTextEdit{
    /* border: 2px solid green; */
    padding: 0 1rem;
    letter-spacing: 1px;
}

#eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText .eventCloseHeading{
    height: 22%;
    width: 100%;
    
}

#eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText .eventCloseHeading .eventHeading{
    height: 65%;
    width: 30%;
    /* border: 2px solid red; */
    margin: auto;
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 2px;
}

#eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText .eventCloseHeading .eventType{
    height: 35%;
    width: 40%;
    /* border: 2px solid red; */
    margin: 0 40%;
    font-size: 1rem;
    font-weight: 400;
}

#eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText .eventTimePeriod{
    height: 8%;
    width: 100%;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 1.3rem;
}

#eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText .eventLocation{
    height: 8%;
    width: 100%;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 1.3rem;
}

#eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText .eventIntro{
    height: 44%;
    width: 100%;
    font-size: 1.35rem;
    font-weight: 350;
    padding-top: 1.5%;
}

#eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText .eventLeadOrganizer{
    height: 9%;
    width: 100%;
    letter-spacing: 2px;
    font-size: 1.3rem;
    font-weight: 300;
}

#eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText .eventCollabrators{
    height: 9%;
    width: 100%;
    letter-spacing: 2px;
    font-size: 1.3rem;
    font-weight: 300;
}


/*Responsive section*/
@media (max-width: 1024px) {
    #eventsDisplayArea{
        height: 190vmax;
    }
    #eventsDisplayArea .eventElements .eventsAreaBorder .eventChild{
        width: 100%;
    }
    #eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText .eventIntro{
        height: 50%;
    }

}
@media (max-width: 780px) {
    #eventsHeader > .events-detail > .events-detail-elements > .acheiventsBlockBorder{
        width: 50%;
    }
    #eventsDisplayArea .eventElements .eventsAreaBorder .eventChild{
        height: 33rem;
    }
    #eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText .eventCloseHeading .eventHeading{
        width: 40%;
    }
    #eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText .eventCloseHeading .eventType{
        width: 50%;
    }
    #eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText .eventIntro{
        height: 58%;
    }
    #eventsDisplayArea{
        height: 300vmax;
    }
    #eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventImage{
        height: 85%;
    }
}

@media (max-width: 450px) {
    #eventsHeader > .events-heading > .event-heading-block > .event-heading-block-element-block > h1{
        font-size: 5rem;
    }
    #eventsHeader > .events-detail > .events-detail-elements{
        width: 95%;
    }
    #eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventImage{
        height: 45%;
        margin-top: 23%;
    }
    #eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText .eventCloseHeading .eventType{
        width: 100%;
    }
    #eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText .eventCloseHeading .eventHeading{
        width: 68%;
    }
    #eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText .eventTimePeriod{
        font-size: 1rem;
    }
    #eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText .eventLocation{
        font-size: 1rem;
    }
    #eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText .eventIntro{
        font-size: 1.15rem;
    }
    #eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText .eventIntro{
        height: 66%;
    }
    #eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText .eventLeadOrganizer{
        font-size: 1rem;
    }
    #eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText .eventCollabrators{
        font-size: 1rem;
    }
    #eventsDisplayArea{
        height: 330vmax;
    }
}

@media (max-width: 350px) {
    #eventsDisplayArea > #events-display-area-container > .upper-display-area > .typeOfEvents > li{
        font-size: 1rem;
    }
    #eventsDisplayArea .eventElements .eventsAreaBorder .eventChild{
        flex-direction: column !important;
    }
    #eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventImage{
        width: 100%;
    }
    #eventsDisplayArea .eventElements .eventsAreaBorder .eventChild .eventText{
        width: 100%;
        margin-top: 7%;
    }
    #eventsDisplayArea .eventElements .eventsAreaBorder .eventChild{
        height: 50rem;
    }
    #eventsDisplayArea{
        height: 480vmax;
    }
    #eventsDisplayArea > #events-display-area-container > .upper-display-area{
        height: 6%;
    }
}