/*Fonts setup*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

/*Color setup*/
:root {
    --primary: rgb(0, 80, 0);
    --primary-dark: rgb(0, 64, 0);
    --primary-light: rgb(1, 126, 1);
    --black: #010101;
    --gray-1: #788190;
    --gray-2: #d3d4db;
    --white: #FFFFFF;
    --body: #fefefe;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--body);
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Common Parts */

.UnderLineForTxt {
    border-bottom: 3px solid var(--gray-1);
    width: 18%;
    margin-left: -0.4rem;
    margin-top: -0.5rem !important;
    width: 3%;
}


.boldMe {
    font-weight: 400;
    font-size: 63px;
    color: var(--primary-dark);
}


.container-fuild {
    margin-left: -0.6vw;
}

/*Setup components*/

/* button */
.btn {
    border-radius: 8px;
}

.btn-primary,
.btn-outline-secondary {
    padding: 8px 20px;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary-dark);
}

.joinNavBtn {
    font-size: 1.2rem;
    border: none;
}

.joinNavBtn:focus {
    background-color: #fefefe;
    color: black;
    font-weight: 500;
    font-size: 1.3rem;
}

.btn-outline-secondary {
    border: 1px solid var(--gray-2);
    color: var(--primary-dark);
}

.btn-outline-secondary:hover {
    background-color: var(--primary);
    border: 1px solid var(--gray-2);
    color: var(--white) !important;
}

.btn-outline-secondary:focus {
    background-color: var(--primary);
    border: 1px solid var(--gray-2);
    color: var(--body);
}



/*Navbar*/

.navbar .btn-outline-secondary {
    border: 1px solid var(--gray-2);
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 16px;
}

.navbar {
    padding: 32px 0;
}

.nav-link {
    margin-left: 41px;
    font-size: 18px;
    color: var(--primary-light);
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: var(--primary);
}

/*Hero setion*/
section.hero {
    padding: 60px 0 80px 0;
}

section.hero .text {
    font-weight: 800;
    font-size: 48px;
    line-height: 73px;
    color: var(--primary);
}

section.hero .hashtag {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--primary-light);
}

section.hero .home-text {
    padding-top: 35px;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #788190;
}

.homeImg {
    margin-top: -4rem;
    margin-left: 5rem;
    width: 30rem;
}

.buttons {
    padding-top: 20px;
}

.buttons .btn {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}


/* About Section */
#About-Page {
    /*** Change height here to decrease or increase size of about container. */
    /* border: 2px solid black; */
    height: 90vh;
    width: 98.5vw;
}

#About-Page>.aboutEle {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#About-Page #aboutText {
    /* border: 2px solid red; */
    height: 80%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headingStyle {
    font-weight: 300;
    font-size: 50px;
    line-height: 73px;
    color: var(--primary);
}

#About-Page #aboutImage {
    /* border: 2px solid blue; */
    height: 80%;
    width: 40%;
}

#About-Page>.aboutEle>#aboutImage>.imgContainer {
    height: 90%;
    width: 90%;
    /* border: 2px solid green; */
    margin: 5% auto;
}

#About-Page>.aboutEle>#aboutImage>.imgContainer>img {
    height: 70%;
    width: 100%;
}

/* Join Us on other platforms */
#joinUsOnPlatforms {
    height: 130vh;
    width: 98vw;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#joinUsOnPlatforms>#joinPlatforms {
    /* border: 2px solid blue; */
    height: 95%;
    width: 85%;
}

#joinUsOnPlatforms i {
    font-size: 4rem;
}

#joinUsOnPlatforms>#joinPlatforms>.joinPlatformHeading {
    /* border: 2px solid black; */
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;
}

#joinUsOnPlatforms>#joinPlatforms>#joinPlatformsDetail {
    width: 100%;
    height: 85%;
    /* border: 2px solid black; */
}

#joinUsOnPlatforms>#joinPlatforms>#joinPlatformsDetail>.containerJoinPlatforms {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 6% 3%;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}

#joinUsOnPlatforms>#joinPlatforms>#joinPlatformsDetail>.containerJoinPlatforms>.gridItemForJoinPlatform {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    width: 100%;
    height: 100%;
}

#joinUsOnPlatforms>#joinPlatforms>#joinPlatformsDetail>.containerJoinPlatforms>.gridItemForJoinPlatform>.card {
    height: 100%;
    width: 100%;
}

#joinUsOnPlatforms>#joinPlatforms>#joinPlatformsDetail>.containerJoinPlatforms>.gridItemForJoinPlatform>.card>.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    height: 25rem;
    transition: all 0.5s ease-in-out 100ms
}

#joinUsOnPlatforms>#joinPlatforms>#joinPlatformsDetail>.containerJoinPlatforms>.gridItemForJoinPlatform>.card:hover>.jp1 {
    background-color: #FF0000;
    color: #fefefe;
}

#joinUsOnPlatforms>#joinPlatforms>#joinPlatformsDetail>.containerJoinPlatforms>.gridItemForJoinPlatform>.card:hover>.jp2 {
    background-color: #0165E1;
    color: #fefefe;
}

#joinUsOnPlatforms>#joinPlatforms>#joinPlatformsDetail>.containerJoinPlatforms>.gridItemForJoinPlatform>.card:hover>.jp3 {
    background-color: #0088cc;
    color: #fefefe;
}

#joinUsOnPlatforms>#joinPlatforms>#joinPlatformsDetail>.containerJoinPlatforms>.gridItemForJoinPlatform>.card:hover>.jp4 {
    background-color: #0e76a8;
    color: #fefefe;
}

#joinUsOnPlatforms>#joinPlatforms>#joinPlatformsDetail>.containerJoinPlatforms>.gridItemForJoinPlatform>.card:hover>.jp5 {
    background-color: #333333;
    color: #fefefe;
}

#joinUsOnPlatforms>#joinPlatforms>#joinPlatformsDetail>.containerJoinPlatforms>.gridItemForJoinPlatform>.card:hover>.jp6 {
    background-color: #128C7E;
    color: #fefefe;
}

#joinUsOnPlatforms>#joinPlatforms>#joinPlatformsDetail>.containerJoinPlatforms>.gridItemForJoinPlatform>.card>.card-body>h5 {
    font-weight: 700;
    margin: 1rem 0;
}

#joinUsOnPlatforms>#joinPlatforms>#joinPlatformsDetail>.containerJoinPlatforms>.gridItemForJoinPlatform>.card>.card-body>a {
    font-size: 1rem;
    padding: 7px 12px;
}

#joinUsOnPlatforms>#joinPlatforms>#joinPlatformsDetail>.containerJoinPlatforms>.gridItemForJoinPlatform>.card>.card-body:hover>a {
    border: 1px solid white;
    color: white;
}

#joinUsOnPlatforms>#joinPlatforms>#joinPlatformsDetail>.containerJoinPlatforms>.gridItemForJoinPlatform>.card>.card-body>a:hover {
    background-color: transparent;
    font-weight: 700;
    color: white;
    border: 1px solid white;
}

/* Benefits of joinig Us */
#benefitsOfJoiningUs {
    border: 2px solid black;
    height: 100vh;
    width: 98.5vw;
}

/* Team Members page */
#teamMembersPage {
    /* border: 2px solid black; */
    height: 140vh;
    width: 98.5vw;
}

#teamMembersPage>#teamMembersArea {
    /* border: 2px solid red; */
    height: 100%;
    width: 75%;
    margin: auto;
}

#teamMembersPage>#teamMembersArea>#founderTeam {
    width: 100%;
    height: 45%;
    /* border: 2px solid green; */
}

#teamMembersPage>#teamMembersArea>#founderTeam>.founderMembersCards {
    width: 100%;
    height: 87%;
    /* border: 2px solid red; */
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#teamMembersPage>#teamMembersArea>#founderTeam>.founderMembersCards>.card {
    margin: 0 2rem;
    width: 30%;
}

#teamMembersPage>#teamMembersArea>#founderTeam>.founderMembersCards>.card>.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#teamMembersPage>#teamMembersArea>#founderTeam>.founderMembersCards>.card>.card-body>.card-link>i {
    font-size: 2.5rem;
    color: grey;
}

#teamMembersPage>#teamMembersArea>#founderTeam>.founderMembersCards>.card>.card-body>.card-link>i:hover {
    color: #333333;
}


#teamMembersPage>#teamMembersArea>#founderTeam>.founderMembersCards>.card>img {
    height: 60%;
    width: 100%;
}


#teamMembersPage>#teamMembersArea>#coreTeam {
    width: 100%;
    margin-top: 2rem;
    height: 55%;
    /* border: 2px solid darkmagenta; */
}

#teamMembersPage>#teamMembersArea>#coreTeam>.CoreMembersCards {
    width: 100%;
    height: 80%;
    /* border: 2px solid red; */
}

#teamMembersPage>#teamMembersArea>#coreTeam>.CoreMembersCards>#coreMembersCarosoul {
    width: 100%;
    height: 90%;
    border: 2px solid blue;
}

#teamMembersPage>#teamMembersArea>#coreTeam>.CoreMembersCards>#coreMemberButton {
    width: 100%;
    height: 10%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}


#teamMembersPage>#teamMembersArea .teamMembersHeading {
    /* border: 2px solid black; */
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 600;
}

/* Carosuol part in other file namely: carosuol.css */

/* events area here */
#eventPage {
    /* border: 2px solid black; */
    margin-top: 2rem;
    height: 120vh;
    width: 98.5vw;
}

#eventPage>#eventArea {
    height: 100%;
    width: 100%;
}

#eventPage>#eventArea>#eventHeading {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    flex-direction: column;
}

#eventPage>#eventArea>#eventContent {
    height: 85%;
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 2rem;
}

#eventPage>#eventArea>#eventContent>#eventContentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5% 5%;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    width: 80%;
    height: 80%;
}


#eventPage>#eventArea>#eventContent>#eventContentContainer>.eventGrid-item {
    display: inline-grid;
    height: 100%;
    width: 100%;
}

#eventPage>#eventArea>#eventContent>#eventContentContainer>.eventContentContainerBlocks {
    height: 80%;
    width: 33%;
    margin: 2rem;
    /* border: 2px solid navy; */
}

#eventPage .flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
#eventPage .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
#eventPage .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

#eventPage .flip-card-front img {
    border-radius: 10px;
}

/* Position the front and back side */
#eventPage .flip-card-front,
#eventPage .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    border-radius: 10px;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
#eventPage .flip-card-front {
    background-color: #bbb;
    color: black;
}

#eventPage .flip-card-front img {
    height: 100%;
    width: 100%;
}

/* Style the back side */
#eventPage .flip-card-back {
    background-color: #f1f1f1;
    color: var(--primary-dark);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Blog area here */

#blogPage {
    /* border: 2px solid black; */
    height: 100vh;
    width: 98.5vw;
}

#blogPage>#blogArea {
    height: 100%;
    width: 100%;
}

#blogPage>#blogArea>#blogHeading {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    flex-direction: column;
}

#blogPage>#blogArea>#blogHeading>.blogHeadingText {
    font-size: 3rem;
    font-weight: 600;
    /* border: 2px solid green; */
}

#blogPage>#blogArea>#blogPostsArea {
    height: 85%;
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#blogPage>#blogArea>#blogPostsArea>.blogPosts {
    height: 90%;
    width: 80%;
    /* border: 2px solid brown; */
}




#blogPostsArea .carousel {
    display: block;
    text-align: left;
    position: relative;
    margin-top: -2rem;
}

#blogPostsArea .carousel>input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

#blogPostsArea .carousel>input:nth-of-type(6):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -500%;
}

#blogPostsArea .carousel>input:nth-of-type(5):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -400%;
}

#blogPostsArea .carousel>input:nth-of-type(4):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -300%;
}

#blogPostsArea .carousel>input:nth-of-type(3):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -200%;
}

#blogPostsArea .carousel>input:nth-of-type(2):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -100%;
}

#blogPostsArea .carousel>input:nth-of-type(1):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: 0%;
}

#blogPostsArea .carousel>input:nth-of-type(1):checked~.carousel__thumbnails li:nth-of-type(1) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

#blogPostsArea .carousel>input:nth-of-type(2):checked~.carousel__thumbnails li:nth-of-type(2) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

#blogPostsArea .carousel>input:nth-of-type(3):checked~.carousel__thumbnails li:nth-of-type(3) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

#blogPostsArea .carousel>input:nth-of-type(4):checked~.carousel__thumbnails li:nth-of-type(4) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

#blogPostsArea .carousel>input:nth-of-type(5):checked~.carousel__thumbnails li:nth-of-type(5) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

#blogPostsArea .carousel>input:nth-of-type(6):checked~.carousel__thumbnails li:nth-of-type(6) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

#blogPostsArea .carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
}

#blogPostsArea .carousel__slide {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease-out;
    /* vertical-align: top; */
    box-sizing: border-box;
    white-space: normal;
}

#blogPostsArea .carousel__slide figure {
    display: flex;
    margin: 0;
    width: 70vw;
    height: 54.5vh;
}

#blogPostsArea .carousel__slide div {
    position: relative;
    width: 100%;
}

#blogPostsArea .carousel__slide div:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 66.6666666667%;
}

#blogPostsArea .carousel__slide div>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#blogPostsArea .carousel__slide img {
    display: block;
    flex: 1 1 auto;
    object-fit: cover;
}

#blogPostsArea .carousel__slide figcaption {
    align-self: flex-end;
    padding: 20px 20px 0 20px;
    flex: 0 0 auto;
    width: 25%;
    min-width: 150px;
}

#blogPostsArea .carousel__slide .credit {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    display: block;
}

#blogPostsArea .carousel__slide.scrollable {
    overflow-y: scroll;
}

#blogPostsArea .carousel__thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 0 -10px;
}

#blogPostsArea .carousel__slides+.carousel__thumbnails {
    margin-top: 20px;
}

#blogPostsArea .carousel__thumbnails li {
    flex: 1 1 auto;
    max-width: calc((100% / 6) - 20px);
    margin: 0 10px;
    transition: all 300ms ease-in-out;
}

#blogPostsArea .carousel__thumbnails label {
    display: block;
    position: relative;
}

#blogPostsArea .carousel__thumbnails label:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
}

#blogPostsArea .carousel__thumbnails label>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#blogPostsArea .carousel__thumbnails label:hover,
#blogPostsArea .carousel__thumbnails label:focus {
    cursor: pointer;
}

#blogPostsArea .carousel__thumbnails label:hover img,
#blogPostsArea .carousel__thumbnails label:focus img {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
}

#blogPostsArea .carousel__thumbnails img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* Team page here */
#joinTeamPage{
    height: 100vh;
    width: 98.5vw;
    /* border: 2px solid black; */
}

#joinTeamPage > .container{
    height: 100%;
    width: 100%;
}

#joinTeamPage > .container > #joinTeamHeading{
    height: 20%;
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7%;
}

#joinTeamPage > .container > #joinTeamHeading > .borderJoinTeamHeading{
    height: 90%;
    width: 40%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#joinTeamPage > .container > #joinTeamCards{
    height: 80%;
    width: 100%;
    /* border: 2px solid blue; */
}

#joinTeamPage > .container > #joinTeamCards > .borderJoinTeamCard{
    height: 100%;
    width: 70%;
    /* border: 2px solid black; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#joinTeamPage > .container > #joinTeamCards > .borderJoinTeamCard .card{
    margin: 2rem;
    padding: 4rem;
    width: 50%;
    height: 85%;
}

#joinTeamPage > .container > #joinTeamCards > .borderJoinTeamCard > .card > .card-body > .card-title{
    padding-bottom: 2rem;
}

#joinTeamPage > .container > #joinTeamCards > .borderJoinTeamCard > .card > .card-body > a{
    margin-top: 2rem;
    padding: 0.8rem 3rem;
    border: none;
}



/* Footer setion*/
footer {
    padding-top: 279px;
    margin-bottom: 44px;
}

footer a {
    font-weight: bold;
    font-size: 14px;
    color: var(--black);
    line-height: 18px;
}

footer .copy {
    margin-top: 32px;
    font-size: 14px;
    color: var(--gray-1);
    line-height: 17px;
    font-weight: 400;
}

/*Responsive section*/
@media (max-width: 1024px) {
    #eventPage>#eventArea>#eventContent>#eventContentContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 90%;
    }
    .homeImg {
        margin: 0;
        width: 27rem;
    }
    #About-Page .UnderLineForTxt{
        margin-top: 0rem !important;
        width: 8%;
    }
    #joinUsOnPlatforms .UnderLineForTxt{
        width: 4.5%;
        margin-top: 0 !important;
    }

    section.hero .text {
        font-size: 40px;
    }

    section.hero .hashtag {
        font-size: 20px;
    }

    .headingStyle {
        font-size: 30px;
        line-height: 52px;
    }

    #About-Page>.aboutEle>#aboutImage>.imgContainer>img {
        height: 49%;
        margin-top: 6rem;
    }
    .lead {
        margin-top: 2rem;
    }
    #joinTeamPage > .container > #joinTeamCards > .borderJoinTeamCard{
        width: 100%;
    }
}



@media (max-width: 780px) {
    section.hero .text{
        font-size: 45px;
    }
    .col-md-6{
        width: 100% !important;
    }

    .navbar .btn-outline-secondary{
        height: 3.5rem;
        width: 12rem;
        padding: 9px 15px;
        font-size: 16px;
        margin: 3px 7px 8px 0;
        font-weight: 200;
        color: var(--primary-dark);
    }

    .nav-link{
        font-size: 2rem;
    }

    .navbar-collapse{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .navbar-nav{
        margin: auto;
        list-style: 1;
        letter-spacing: 0.4rem;

    }
    #homePage .homeImg{
        width: 27rem;
    }
    #About-Page{
        height: 110vh;
    }
    #About-Page .headingStyle{
        font-size: 22px;
    }
    #About-Page img{
        height: 35% !important;
    }
    #About-Page .about-heading{
        width: 25rem;
    }

    .UnderLineForTxt{
        margin-top: -0.3rem !important;
        width: 7%;
    }
    #joinUsOnPlatforms{
        margin-top: 10rem;
    }
    #joinUsOnPlatforms i {
        font-size: 3rem;
    }
    #joinUsOnPlatforms>#joinPlatforms>#joinPlatformsDetail>.containerJoinPlatforms{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    #joinUsOnPlatforms>#joinPlatforms>#joinPlatformsDetail{
        height: 82rem;
    }
    #joinUsOnPlatforms>#joinPlatforms>#joinPlatformsDetail>.containerJoinPlatforms>.gridItemForJoinPlatform>.card>.card-body>a{
        padding: 4px 13px;

    }
    #benefitsOfJoiningUs{
        margin-top: 40rem;
    }
    #teamMembersPage>#teamMembersArea{
        width: 100%;
    }
    #eventPage{
        height: 115vh;
    }
    #eventPage .UnderLineForTxt{
        width: 4%;
        margin-top: -0.2rem !important;
    }
    #joinTeamPage > .container > #joinTeamCards > .borderJoinTeamCard .card{
        margin: 1rem;
        padding: 2rem;
    }
}

@media (max-width: 450px) {

    .UnderLineForTxt {
        margin-top: -0.5rem !important;
        width: 6%;
    }
    
    /* About Page */
    #About-Page{
        margin-top: 7.5rem;
        height: 100vh;
    }
    #About-Page .headingStyle {
        width: 60%;
        line-height: 1.6rem;
    }
    #About-Page .headingStyle .rightShiftOnMobile{
        margin-left: 26%;
    }
    #About-Page .headingStyle .incrSizeOnMoblie{
        font-size: 68px;
        position: relative;
        top: 20px;
    }
    #About-Page .headingStyle .disapearMeOnMoblie{
        font-size: 1px;
    }

    #About-Page .UnderLineForTxt {
        margin-left: 0rem !important;
        width: 7% !important;
    }

    #About-Page p {
        margin: 0 10vw;
    }

    #About-Page #aboutImage {
        height: 0;
        width: 0;
    }

    /* Join us on other platform */
    #joinUsOnPlatforms {
        height: 160vh;
    }

    #joinUsOnPlatforms>#joinPlatforms>.joinPlatformHeading {
        margin-top: 0;
        margin-bottom: -3rem;
    }

    #joinUsOnPlatforms>#joinPlatforms>#joinPlatformsDetail>.containerJoinPlatforms {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 2%;
    }
    #joinUsOnPlatforms>#joinPlatforms>#joinPlatformsDetail>.containerJoinPlatforms>.gridItemForJoinPlatform{
        height: 100%;
    }
    #joinUsOnPlatforms>#joinPlatforms>#joinPlatformsDetail{
        height: 170rem;
    }
    /* Benefit of joining us */
    #benefitsOfJoiningUs {
        height: 100vh;
        margin-top: 120rem;
    }

    /* team members */
    #teamMembersPage {
        height: 440vh;
    }

    #teamMembersPage>#teamMembersArea .teamMembersHeading {
        font-size: 2rem;
    }

    #teamMembersPage>#teamMembersArea>#founderTeam>.founderMembersCards {
        flex-direction: column;
        margin-top: 6rem;
    }

    #teamMembersPage>#teamMembersArea>#founderTeam>.founderMembersCards>.card {
        width: 85%;
        margin-bottom: 3vh;
    }
    #teamMembersPage>#teamMembersArea>#coreTeam>.CoreMembersCards>#coreMembersCarosoul{
        height: 36%;
    }
    #teamMembersPage>#teamMembersArea>#coreTeam{
        margin-top: 20rem;
    }
    #teamMembersPage>#teamMembersArea>#coreTeam>.CoreMembersCards{
        margin-top: -6rem;
    }

    /* Blog area */
    #blogPostsArea .carousel__slide figure {
        height: 36vh;
    }
    /* event page */
        #eventPage {
            height: 200vh;
            margin-top: -72vh;
        }
        #eventPage button{
            padding: 0.7rem 3.5rem !important;
        }
        #eventPage>#eventArea>#eventContent>#eventContentContainer {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            height: 100%;
            width: 70%;
        }
        #blogPage>#blogArea{
            height: 110vh;
        }
    /* join our team Page */
    #joinTeamPage > .container > #joinTeamHeading > .borderJoinTeamHeading{
        width: 100%;
    }
    #joinTeamPage > .container > #joinTeamCards > .borderJoinTeamCard{
        width: 100%;
        flex-direction: column;
    }
    #joinTeamPage > .container > #joinTeamCards > .borderJoinTeamCard .card{
        width: 100%;
    }
}

@media (max-width: 576px) {

    section.hero,
    section.setup,
    section.information {
        text-align: center;
    }

    /*Navbar*/
    .navbar {
        padding: 20px 0;
    }

    .nav-link {
        margin-left: 0;
    }

    /*Hero setion*/
    section.hero img {
        padding-top: 2.5rem;
    }

    section.hero .text {
        font-weight: 800;
        font-size: 38px;
        line-height: 53px;
    }

    .buttons .btn {
        display: block;
        margin: 1rem 0;
    }

    .buttons .ms-3 {
        margin-left: 0 !important;
    }

    /* Footer setion*/
    footer {
        padding-top: 50px;
        margin-bottom: 44px;
    }
}